<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <title>Document</title>
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div class="tags">
    <a href="/home" class="tag">Home</a><p>></p>
    <form action="/course" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input  name = "coursename" type="hidden" value="<%= coursename %>" />
        <a ><button class="tag" type="submit"><%= coursename %></button></a>
    </form><p>></p>
    <p >Create a chapter</p>
    </div>


    <div class="back">
    <h1>Create a Chapter</h1>
    <form action="/chapters" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input class="input" name = "coursename" type="hidden" value="<%= coursename %>" />
        <label class="label" for ="chaptername">What is the name of Chapter?</label><br>
        <input  class="input" type="text" name = "chaptername"/><br>

        <label for = "description">Description:</label><br>
        <input  class="input " type="text" name="description"><br>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>