<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <link href="./css/style.css" rel="stylesheet">
    <title>Chapters</title>
</head>
<body><div class="tags">
    <a href="/home" class="tag">Home</a>
    <p>></p>
    <p ><%= coursename %></p>
    </div>
    <div class="back">
        <h1 class="heading"><%= coursename %></h1>
        <hr/>
        <h3 >Chapters</h3>
        <!-- list of chpaters -->

        <p class="list">Chapters</p>
        <% if (chapters.length==0) { %>
            <p class="list">No chapters yet created </p>
        <% } else { %>
            <ul>
            <% for(let i=0;i< chapters.length; i++) { %>
                <form action="/page" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%= chapters[i].coursename %>" name="coursename" />
            <input type="hidden" type="text" name="chaptername" value="<%= chapters[i].chapter %>" />
                    <input type="submit" class="signup-button" style="border: 1px black; background-color: grey; color: white; border-radius: 4px; width:200px"value="<%= chapters[i].chapter %>"/>
                </form>
                
            <% } %>    
            </ul>
        <% } %>
        <form action="/chaptercreation" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class ="input" type="hidden" type="text" name="coursename" value="<%= coursename %>"/>
            <button  type="submit">Create a new Chapter</button>
        </form>

    </div>
</body>
</html>