<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <link href="./css/style.css" rel="stylesheet">
    <title>Displaypages</title>
    
</head>
<body>
    <div class = "tags">
    <a class="tag" href="/home">Home</a><p>></p>
    <form action="/viewcourse" method="post">
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input name="author" type="hidden" value="<%= author %>"/>
        <button type="submit" class="tag"><%= coursename %></button>
    </form><p>></p>
    <form action="/readpages" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input name="author" type="hidden" value="<%= author %>"/>
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input name = "chaptername" type="hidden" value="<%= chaptername %>" />
        <button  class ="tag" type="submit"><%= chaptername %></button>
    </form><p>></p>
    <P ><%= pagename %></P>
    </div>



    <div class="back">
    <form action="/markreadstat" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <input type="hidden" value="<%= coursename %>" name="coursename" />
        <input type="hidden"  name="chaptername" value="<%= chaptername %>" />
        <input type="hidden" name="author" value="<%= author %>"/>
        <input type="hidden" name="pagename" value="<%= pagename %>"/>
        <h1 class="heading"><%= pagename %></h1>
        <p class="para"><%= pagecontent %></p>   
        <div style="width: 300px;">
            <% if (readstat.length>0) { %>
                <button class="signup-button" style="color: rgb(54, 212, 57);">Completed</button>
            <% } else { %>
            <button class="signup-button" type="submit">Mark as Read</button>
            <% } %>
           
        </div>
        </div>
        </form>
    </div>
</body>
</html>