<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class = "tags">
    <a class="tag" href="/home">Home</a><p>></p>
    <form action="/viewcourse" method="post">
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input name="author" type="hidden" value="<%= author %>"/>
        <button type="submit" class="tag"><%= coursename %></button>
    </form><p>></p>
    <form action="/readpages" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input name="author" type="hidden" value="<%= author %>"/>
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input name = "chaptername" type="hidden" value="<%= chaptername %>" />
        <button  class ="tag" type="submit"><%= chaptername %></button>
    </form><p>></p>
    <P ><%= pagename %></P>
    </div>



    <div class="back">
    <form action="/learnpage" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" value="<%= coursename %>" name="coursename" />
        <input type="hidden" type="text" name="chaptername" value="<%= chaptername %>" />
        <h1 class="heading"><%= pagename %></h1>
        <p class="para"><%= pagecontent %></p>   
        </form>
    </div>
</body>
</html>