<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class = "tags">
    <a class="tag" href="/">Home</a><p>></p>
    <form action="/course" method="post">
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <a class="tag" ><button type="submit"><%= coursename %></button></a>
    </form><p>></p>
    <form action="/page" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input name = "chaptername" type="hidden" value="<%= chaptername %>" />
        <a class="tag"><button type="submit"><%= chaptername %></button></a>
    </form><p>></p>
    <P class="tag"><%= pagename %></P>
    </div>



    <div class="back">
    <form action="/learnpage" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" value="<%= coursename %>" name="coursename" />
        <input type="hidden" type="text" name="chaptername" value="<%= chaptername %>" />
        <h1 class="heading"><%= pagename %></h1>
        <p class="para"><%= pagecontent %></p>   
        </form>
    </div>
</body>
</html>