<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="tags">
    <a href="/" class="tag">Home</a><p>></p>
    <form action="/course" method="post">
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <a ><button class="tag" type="submit"><%= coursename %></button></a>
    </form><p>></p>
    <p class ="tag"><%= chaptername %></p>
    </div>


    <div class="back">

        <h1 class="heading"><%= chaptername %></h1>
        <hr/>
        <h3>Pages</h3>
        <% if(pageslist.length==0) { %>
            <p>No pages added to this Chapter</p>
            <% } else { %>
            <ul>
                <% for (let i=0;i<pageslist.length;i++) { %>
                    <li><%= pageslist[i].pagename %></li>
                <% } %>
            </ul>
            <% } %>
        <form action="/pagecreation" method="post">
            <input type="hidden" name="coursename" value="<%= coursename %>"/>
            <button type="submit">Create a new Page</button>
        </form>
    </div>
</body>
</html>