<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="tags">
    <a href="/home" class="tag">Home</a>
    <P >></P>
    <form action="/course" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <button class="tagbutton tag" type="submit"><%= coursename %></button>
        
    </form>
    <p >></p>
    <p >New page</p>
    </div>

    <div class="back">
    <h1 class="heading">New Page</h1>
    <form action="/showpage" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input class="input" type="hidden" name="coursename" value="<%= coursename %>"/>
        <label for="pagename">Title:</label><br>
        <input class="input" type="text" required name="pagename"/>
        <div>
        <label>Chapter: </label><br>
        <select name="chaptername" required id="chapter">
            <option value="" >select</option>
            <% for(var i=0;i< chapters.length;i++) { %>
            <option value="<%= chapters[i].chapter %>"><%= chapters[i].chapter %></option>
            <% } %>
          </select>
        </div>
        <label>Content:</label><br>
        <textarea name="content" content" required></textarea>
        <br>
        <button class ="button" type="submit">create</button>
    </form>
</div>
</body>
</html>