<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="tags">
    <a href="/home" class="tag">Home</a><p>></p>
    <form action="/viewcourse" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input name = "coursename" type="hidden" value="<%= coursename %>" />
        <input name = "author" type="hidden" value="<%= author %>" />
        <button class="tag" type="submit"><%= coursename %></button>
    </form><p>></p>
    <p ><%= chapter %></p>
    </div>


    <div class="back">

        <h1 class="heading"><%= chapter %></h1>
        <p><%= description %></p>
        <hr/>
        <h3>Pages</h3>
        <% if(pageslist.length==0) { %>
            <p>No pages added to this Chapter</p>
            <% } else { %>
            <ul>
                <% for (let i=0;i<pageslist.length;i++) { %>
                    <form action="/learnpage" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input name = "coursename" type="hidden" value="<%= coursename %>" />
                        <input name = "chaptername" type="hidden" value="<%= chapter %>" />
                        <input name = "author" type="hidden" value = "<%= author %>" />
                        <input name = "pagename" type="hidden" value ="<%= pageslist[i].pagename %>"/>
                            <div style="display: flex; flex-direction:row;">
                            <div style="width: 300px;">
                               <button class="signup-button" type="submit" ><%= pageslist[i].pagename %></button>
                            </div>
                            </div>
                    </form>
                <% } %>
            </ul>
            <% } %>
    </div>
</body>
</html>